alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.3
appdirs==1.4.3
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.1.0
argh==0.26.2
asgiref==3.2.7
asn1crypto @ file:///usr/local/miniconda/conda-bld/asn1crypto_1588618073851/work
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1588698308976/work
astropy==4.0.1.post1
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs==19.3.0
autopep8==1.5.2
Babel==2.8.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.0
bitarray==1.2.1
bkcharts==0.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
bokeh==2.0.1
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1588164361239/work
clyent==1.2.2
colorama==0.4.3
contextlib2==0.6.0.post1
cryptography==3.2
cycler==0.10.0
Cython==0.29.17
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1588975274559/work
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
distributed @ file:///Users/runner/miniforge3/conda-bld/distributed_1588976152073/work
Django==3.0.6
django-webpush==0.3.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.10
flake8==3.7.9
Flask==1.1.2
fsspec==0.7.3
future==0.18.2
gevent @ file:///Users/runner/miniforge3/conda-bld/gevent_1588347486914/work
glob2==0.7
gmpy2==2.1.0b1
greenlet==0.4.15
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
http-ece==1.1.0
hypothesis @ file:///home/conda/feedstock_root/build_artifacts/hypothesis_1589118396261/work
idna==2.9
imagecodecs-lite==2019.12.3
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.6.0
intervaltree==3.0.2
ipykernel==5.2.1
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1588362988322/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.11.2
joblib==0.14.1
json5==0.9.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.2
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1588946599005/work
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1588433943567/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.31.0
locket==0.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-service==2.3.0
mock @ file:///usr/local/miniconda/conda-bld/mock_1588618894844/work
more-itertools==8.2.0
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1588887231072/work
numba==0.48.0
numexpr==2.7.1
numpy==1.18.1
numpydoc==0.9.2
olefile==0.46
openpyxl==3.0.3
packaging==20.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1588623615342/work
ply==3.11
pooch==1.1.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
py-vapid==1.7.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.5
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.6.1
pylint @ file:///Users/runner/miniforge3/conda-bld/pylint_1588950500861/work
pyodbc==4.0.30
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.2
pytest-arraydiff==0.3
pytest-astropy==0.7.0
pytest-astropy-header==0.1.2
pytest-doctestplus @ file:///home/conda/feedstock_root/build_artifacts/pytest-doctestplus_1588699114696/work
pytest-openfiles==0.4.0
pytest-remotedata==0.3.1
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1588783985962/work
python-language-server==0.31.10
pytz==2020.1
PyWavelets==1.1.1
pywebpush==1.9.4
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1588715536397/work
qtconsole==4.7.3
QtPy==1.9.0
requests==2.23.0
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
Rtree==0.9.4
ruamel-yaml==0.15.80
scikit-image==0.17.1
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.22
six==1.14.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.4
Sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1588158706257/work
spyder @ file:///Users/runner/miniforge3/conda-bld/spyder_1588993810424/work
spyder-kernels @ file:///Users/runner/miniforge3/conda-bld/spyder-kernels_1588785878082/work
SQLAlchemy==1.3.16
sqlparse==0.3.1
statsmodels==0.11.1
sympy==1.5.1
tables==3.6.1
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1588896076907/work
toml==0.10.0
toolz==0.10.0
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1588513834538/work
traitlets==4.3.3
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.0
xlrd==1.2.0
XlsxWriter==1.2.8
xlwings==0.19.1
xlwt==1.3.0
yapf==0.29.0
zict==2.0.0
zipp==3.1.0
