{% extends 'base.html' %}

{% load common %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% endblock customcss %}

{% block title%} detail/{{day}}/{{timetable}} {% endblock title %}

{% block header %}
<div class="alert alert-success" role="alert">
    <p><a href="{% url 'home' %}">ホームに戻る</a></p>
</div>
{% endblock header %}


{% block content %}
<h1>ここでは授業内容の更新などが行えます。</h1>
<h1>{{day}}曜日, {{timetable}}時限目の講義は</h1>
<h1>{{data.title}}です</h1>
{% if data.pk %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="1">
            <tr>
                <th>講義名: </th>
                <th><input type="text" name="title" value="{{data.title}}"></th>
            </t>
            <tr>
                <th>講義が近づいたらなんとリマインドしますか？ </th>
                <th><input type="text" name="remind_class" value="{{data.remind_class}}"></th>
            </tr>
            <tr>
                <th>講義の提出が近づいたらなんとリマインドしますか？ </th>
                <th><input type="text" name="remind_task" value="{{data.remind_task}}"></th>
            </tr>
        </table>
        <input type="hidden" name="weekday" value="{{day}}">
        <input type="hidden" name="timetable" value="{{timetable}}">
        <input type="hidden" name="pk" value="{{data.pk}}">
        <input type="submit" name="updatePOST" value="更新" class="updateButton postButton">
    </form>
</div>
<hr>
<form action="" method="POST">{% csrf_token %}
    <input type="hidden" name="deletePk" value="{{data.pk}}">
    <input type="submit"  name="deletePOST" value="この講義の登録を削除する" class="deleteButton postButton">
</form>
{% endif %}


{% if not data.pk %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <th>講義名</th>
                <th><input type="text" name="title" value="" placeholder="未設定" required=True></th>
            </tr>
            <tr>
                <th>講義が近づいたらなんとリマインドしますか？</th>
                <th> <input type="text" name="remind_class" value="講義が近づいています"></th>
            </tr>
            <tr>
                <th>講義の提出が近づいたらなんとリマインドしますか？</th>
                <th><input type="text" name="remind_task" value="課題提出日が近づいています"></th>
            </tr>
        </table>
        
        <input type="hidden" name="weekday" value="{{day}}">
        <input type="hidden" name="timetable" value="{{timetable}}">
        <input type="submit" name="newPOST" value="登録" class="postButton newButton">
    </form>
</div>
{% endif %}

{% endblock content %}