{% extends 'base.html' %}

{% load common %}

{% block customcss %}
{% endblock customcss %}

{% block title%} detail/{{day}}/{{timetable}} {% endblock title %}

{% block header %}
<div class="alert alert-success" role="alert">
    <p><a href="{% url 'home' %}">ホームに戻る</a></p>
</div>
{% endblock header %}


{% block content %}
<h1>ここは詳細ページです</h1>
<p>ここでは授業内容の更新などが行えます。</p>
<h1>{{day}}曜日, {{timetable}}時限目の講義は</h1>
<h1>{{data.title}}です</h1>
{% if data.pk %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <p>講義名: <input type="text" name="title" value="{{data.title}}"></p>
        <p>現在の設定では{{remindmsg}}</p>
        <p>{{radioForm}}</p>
        <p>snsのid <input type="text" name="sns_id" value="{{data.sns_id}}"></p>
        <p>講義が近づいたらなんとリマインドしますか？ <input type="text" name="remind_class" value="{{data.remind_class}}"></p>
        <p>講義の提出が近づいたらなんとリマインドしますか？ <input type="text" name="remind_task" value="{{data.remind_task}}"></p>
        <input type="hidden" name="weekday" value="{{day}}">
        <input type="hidden" name="timetable" value="{{timetable}}">
        <input type="hidden" name="pk" value="{{data.pk}}">
        <input type="submit" name="updatePOST" value="更新">
    </form>
</div>
<hr>
<form action="" method="POST">{% csrf_token %}
    <input type="submit"  name="deletePOST" value="この講義の登録を削除する">
</form>
{% endif %}


{% if not data.pk %}
<div>
    <form action="" method="post">
        {% csrf_token %}
                <p>講義名: <input type="text" name="title" value="" placeholder="未設定" required=True></p>
        <p>{{radioForm}}</p>
        <p>snsのid <input type="text" name="sns_id" value="" placeholder="未設定" required=True></p>
        <p>講義が近づいたらなんとリマインドしますか？ <input type="text" name="remind_class" value="講義が近づいています"></p>
        <p>講義の提出が近づいたらなんとリマインドしますか？ <input type="text" name="remind_task" value="課題提出日が近づいています"></p>
        <input type="hidden" name="weekday" value="{{day}}">
        <input type="hidden" name="timetable" value="{{timetable}}">
        <tr><td></td><td><input type="submit" name="newPOST" value="登録"></td></tr>
    </form>
</div>
{% endif %}

{% endblock content %}