{% extends 'base.html' %}

{% load common %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock customcss %}

{% block title%}home{% endblock title %}

{% block header %}
<div class="header alert alert-dark" role="alert">
    <div class="username">{{user.username}}</div>
    <div class="settingBlock">
        <div class="settings">
            <a href="{% url 'settings' %}">設定</a>
        </div>
        <div class="logout">
            <a class="logout" href="{% url 'logout' %}">ログアウト</a>
        </div>
    </div>
    
</div>
{% endblock header %}



{% block content %}
<div class="alert alert-info content" role="alert">
    <table border="1">
        <tr>
            {%with ''|center:6 as range %}
            {%for i in range%}
            <th class="timetableFactor">{{forloop.counter0}}</th>
            {% endfor %}
            {% endwith %}
        </tr>

        {% for day in weekdays %}
        <tr>
            <th class="timetableFactor">{{day}}</th>
            {% with ''|center:5 as range %}
            {% for _ in range%}
            {% with forloop.counter as classes %}
                    <th class="timetableFactor"><a class="classes_box" href="{% url "detail" day classes %}"}>{{ day|make_list:classes|display:alldata }}</a></th>
            {% endwith %}
            {% endfor %}
            {% endwith %}
        </tr>
        {% endfor %}
    </table>

    
    <a href="#">他の予定</a>
    {% if sns_id == "" %}
        <p>idが設定されていません。</p>
        <a href="{% url 'settings' %}">ここ</a>でトークンを発行、設定してください。
    {% endif %}

</div>
{% endblock content %}