{% extends 'base.html' %}

{% load common %}

{% block customcss %}
{% endblock customcss %}


{% block header %}
<div class="alert alert-success" role="alert">
    {{user.username}}
</div>
{% endblock header %}

{% block title%}home{% endblock title %}

{% block content %}
<div class="alert alert-danger" role="alert">
    <table border="1">
        <tr>
            {%with ''|center:6 as range %}
            {%for i in range%}
            <th>{{forloop.counter0}}</th>
            {% endfor %}
            {% endwith %}
        </tr>

        {% for day in weekdays %}
        <tr>
            <th>{{day}}</th>
            {% with ''|center:5 as range %}
            {% for _ in range%}
            {% with forloop.counter as classes %}
                    <th><a href="{% url "detail" day classes %}"}>{{ day|make_list:classes|display:alldata }}</a></th>
            {% endwith %}
            {% endfor %}
            {% endwith %}
        </tr>
        {% endfor %}
    </table>

    <table border="1">
        <a href="#">他の予定</a>
    </table>
    <a href="{% url 'logout' %}">ログアウト</a>

</div>
{% endblock content %}